.Entr-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Title-with-dropdown {
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.Drop-btn {
  /* position: relative; */

  opacity: 0.5;
  position: relative;
}

.Entry-title-editor {
  box-sizing: border-box;

  resize: none;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  line-height: 2pxvw;

  letter-spacing: 0.39px;
  font-size: 30px;
  outline: none;
  width: 100%;

  text-align: center;
  border: 0px solid;
  padding: 20px;
}

.Entry-content-editor {
  box-sizing: border-box;

  width: 100%;
  /* background-color: red; */
  resize: none;
  min-height: 70vh;
  border: 0px solid;
  outline: none;
  /* letter-spacing: 10px; */
  font-family: "futura-pt", sans-serif;
  font-size: 22px;
  /* color: var(--primary_color); */
  font-weight: 500;
  /* line-height: 25px; */
  text-align: left;

  text-transform: none;
  /* background-color: pink; */
  padding: 15px;
  border-bottom: 1px solid #ededed;
}
