.Entr-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Entr-width {
  max-width: 770px;
  width: 69vw;
}
.Entr-text-width {
  max-width: 770px;
  width: 69vw;
}
.Title-with-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}
.Drop-btn {
  opacity: 0.5;
  position: relative;
}

.Entr-title {
  cursor: default;
  box-sizing: border-box;
  resize: none;
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  line-height: 2pxvw;
  letter-spacing: 0.39px;
  font-size: 30px;
  outline: none;
  width: 100%;
  text-align: center;
  border: 0px solid;
  padding: 20px;
}

.Image-container {
  background-color: #f1f1fa;
  height: 60vh;
  /* width: 100%; */
  max-width: 770px;
  width: 69vw;
  /* border-style: solid; */
  /* border-color: green; */
  overflow: hidden;
}
.Hero-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Entry-details {
  text-align: left;
}

.Entry-content-display {
  cursor: default;
  box-sizing: border-box;
  white-space: pre-wrap;
  width: 100%;
  resize: none;
  border: 0px solid;
  outline: none;
  font-family: "futura-pt", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
  text-transform: none;
  border-bottom: 1px solid #ededed;
}

/* smaller screens */

@media only screen and (max-width: 800px) {
  .Entr-width {
    width: 90vw;
  }

  .Image-container {
    height: 60vh;
    max-width: 100vw;
    width: 69100vw;
  }
}
